* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    border-bottom: 1px solid #222;
    position: inherit;
}

p {
    padding: 0px;
}

main {
    max-width: 640px;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 10px 0;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: left;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: #cccaca;
    opacity: 0.7;
    color: #640115;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
}

aside img {
    width: 100%;
    height: auto;
}

main img {
    float: right;
    width: 100px;
    height: auto;
    border: 1px solid #b71234;
    padding: 2px;
    box-shadow: none;
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: 1px solid #b71234;
    padding: 1rem;
    background-color: #cccaca;
    color: #1a044e;
}

.grid {
    display: grid;
    align-items: center;
}